#calc {
    text-align: center;
    font-size: 40px;
    color: teal;

}

#calculator {
    height: 320px;
    width: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: auto;
    padding: 10px;
    border-radius: 30px;
}

#display {
    height: 50px;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 23px;
    margin-top: 4px;
    border-radius: 10px;
    margin: auto;
    
}

#keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    font-weight: bold;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
    margin-top: 30px;
    border-radius: 5px;
    
}

#keyboard>div:hover {
    background-color: teal;
    
}
#keyboard>div{
    width: 40px;
   height: 35px;
   margin-left: 10px;
}

.black {
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-indent: 4px;
    padding-top: 12px;
}

.red {
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-indent: 4px;
    padding-top: 12px;
}

#display {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}